@{
    ViewData["Title"] = "Home Page";
}
<img src="./img/tropicalpain2.png" style="width: 100%; position: relative;" />
    <h3>Découvrez nos dinosaures</h3>
    <section>
        <article>
            <img class="img-fluid" src="https://imagenes.razon.com.mx/files/image_940_470/files/fp/uploads/2022/11/05/63673d376c8d7.r_d.574-112-0.jpeg" style="margin:1px" />
            <figure>
                <ul>
                    <li>
                        <h5>Nom : Blue</h5>
                        <h5>Espèce : Vélociraptor</h5>
                    </li>
                    <li>
                        <a href="./Details.html">
                            Plus d'infos
                        </a>
                    </li>
                    <li style="position: absolute;bottom: 2px;;right: 2px;">
                        <a href="#">
                            <ion-icon name="create-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                    <li style="position: absolute;bottom:2px;left:0;">
                        <a href="#">
                            <ion-icon name="trash-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                </ul>
            </figure>
        </article>
        <article>
            <img class="img-fluid" src="https://i.pinimg.com/1200x/3f/09/89/3f0989c1631958ae460ec8e28976d3d4.jpg" />
            <figure>
                <ul>
                    <li>
                        <h5>Nom : Blue</h5>
                        <h5>Espèce : Vélociraptor</h5>
                    </li>
                    <li>
                        <a href="./Details.html">
                            Plus d'infos
                        </a>
                    </li>
                    <li style="position: absolute;bottom: 2px;;right: 2px;">
                        <a href="#">
                            <ion-icon name="create-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                    <li style="position: absolute;bottom:2px;left:0;">
                        <a href="#">
                            <ion-icon name="trash-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                </ul>
            </figure>
        </article>
        <article>
            <img class="img-fluid" src="https://www.sideshow.com/storage/product-images/910418/baby-blue_jurassic-world-fallen-kingdom_square.jpg" />
            <figure>
                <ul>
                    <li>
                        <h5>Nom : Blue</h5>
                        <h5>Espèce : Vélociraptor</h5>
                    </li>
                    <li>
                        <a href="./Details.html">
                            Plus d'infos
                        </a>
                    </li>
                    <li style="position: absolute;bottom: 2px;;right: 2px;">
                        <a href="#">
                            <ion-icon name="create-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                    <li style="position: absolute;bottom:2px;left:0;">
                        <a href="#">
                            <ion-icon name="trash-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                </ul>
            </figure>
        </article>
        <article>
            <img class="img-fluid" src="https://www.tomsguide.fr/content/uploads/sites/2/2020/06/jurassic-park.jpg" />
            <figure>
                <ul>
                    <li>
                        <h5>Nom : Blue</h5>
                        <h5>Espèce : Vélociraptor</h5>
                    </li>
                    <li>
                        <a href="./Details.html">
                            Plus d'infos
                        </a>
                    </li>
                    <li style="position: absolute;bottom: 2px;;right: 2px;">
                        <a href="#">
                            <ion-icon name="create-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                    <li style="position: absolute;bottom:2px;left:0;">
                        <a href="#">
                            <ion-icon name="trash-outline" style="color: #ced02d;"></ion-icon>
                        </a>
                    </li>
                </ul>
            </figure>
        </article>
    </section>
